.admin-search {
    display: flex;
    gap: 12px;
    margin-bottom: 30px;
}

.admin-search form {
    display: flex;
    align-items: center;
    gap: 12px;
}

.admin-operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.admin-table {
    margin-top: 30px;
    border: 1px solid var(--sub_color_white);
}

.admin-table__inner {
    width: 100%;
}

.admin-table__inner thead tr {
    border-bottom: 1px solid var(--sub_color_white);
    background-color: #baa899;
    color: var(--sub_color_white);
}

.admin-table__inner thead th {
    padding: 15px 0;
}

.admin-table__inner tbody tr:hover {
    background-color: var(--sub_color_white);
}

.admin-table__text {
    padding: 15px;
    border-bottom: 1px solid var(--sub_color_white);
    text-align: center;
}

.admin-table__text input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}

.admin-table__row:last-child .admin-table__header,
.admin-table__row:last-child .admin-table__text {
    border-bottom-width: 0;
}

.form__input--select {
    position: relative;
    text-align: left;
    width: fit-content;
}

.form__input--select::after {
    content: "▼";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main_color);
    font-size: 12px;
}

.form__input--select select {
    padding: 10px;
    background-color: var(--sub_color_white);
    border: 1px solid var(--sub_color_white);
    border-radius: 3px;
    color: var(--main_color);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 100px;
    padding: 10px 28px 10px 10px;
}

.form__input--date {
    position: relative;
    display: inline-block;
}

.form__input--date input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    padding-right: 28px;
    padding: 10px;
    width: 200px;
    background-color: var(--sub_color_white);
    border: 1px solid var(--sub_color_white);
    border-radius: 3px;
    appearance: none;
    color: var(--main_color);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.date-select__arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: var(--main_color);
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    background-color: var(--sub_color_white);
    border: 1px solid var(--sub_color_white);
    border-radius: 3px;
    appearance: none;
    color: var(--main_color);
}

.button-reset {
    background: #d9c6b5;
    color: var(--sub_color_white);
}

.button-export {
    background: #edeae6;
    color: var(--sub_color_brown);
}

.button-detail {
    display: inline;
    border: 1px solid var(--main_color);
    background-color: #fff;
    color: var(--main_color);
}

.pagination {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline-block;
}

.pagination li a,
.pagination li span {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border: 1px solid var(--sub_color_brown);
    text-decoration: none;
    color: var(--sub_color_brown);
    text-align: center;
    min-width: 32px;
    transition: all 0.2s;
}

.pagination a:hover {
    background-color: var(--sub_color_white);
}

.pagination li span {
    background-color: var(--sub_color_brown);
    color: var(--sub_color_white);
}

.pagination li.disabled span {
    background-color: #fff;
    color: var(--sub_color_brown) !important;
    cursor: not-allowed;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow: auto;
    color: var(--main_color);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid var(--main_color);
    width: 50%;
    max-width: 600px;
    min-height: 60vh;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.modal-content__inner {
    margin: 50px auto;
    width: 80%;
}

.form__group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form__group-title {
    width: 40%;
    min-width: 40%;
    flex-shrink: 0;
    font-weight: bold;
}

#modalContent {
    margin: 0;
    white-space: pre-wrap;
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid var(--main_color);
    cursor: pointer;
    font-weight: bold;
    color: var(--main_color);
}

.form-button {
    text-align: center;
}

.button-delete {
    display: inline;
    background-color: #ba370d;
    color: var(--sub_color_white);
}
