/* カラー */
:root {
    --main_color: #8c7a6a;
    --sub_color_brown: #82756b;
    --sub_color_white: #f4f4f4;
}

/* ボタン */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.button-submit {
    display: inline;
    background: var(--sub_color_brown);
    color: var(--sub_color_white);
}

/* エラーメッセージ */
.form__error {
    list-style: none;
    padding: 0;
    font-size: 14px;
    color: #ff0000;
    text-align: left;
    margin: 5px 0 0 0;
    line-height: 1.4;
}

.form__error li::before {
    content: "・";
}

/* ヘッダー */
.header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--sub_color_white);
}

.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center; /* デフォルトは中央 */
    position: relative;
}

.header__title {
    color: var(--main_color);
    font-size: 24px;
}

.header__button {
    position: absolute;
    right: 15px;
}

.header__button a,
.header__button button {
    border: 1px solid var(--main_color);
    background: var(--sub_color_white);
    color: var(--main_color);
    text-decoration: none;
}
