.contact-form {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    color: #8c7a6a;
}

.contact-form__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.confirm-table {
    border: 1px solid #f5f4f4;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding-left: 30px;
    width: 30%;
    border-bottom: 1px solid #f5f4f4;
    background-color: #baa899;
    color: #fff;
    text-align: left;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #f5f4f4;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}

.confirm-table__textarea {
    text-align: left;
    line-height: 1.5;
    margin: 0;
    white-space: normal;
    padding: 15px;
    border-bottom: 1px solid #f5f4f4;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.confirm-table__texts {
    display: flex;
    width: 50%;
    gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    appearance: none;
    color: #8c7a6a;
}

.form__button {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.form__button form {
    width: 20%;
}

.form__button button {
    width: 100%;
    padding: 10px;
    height: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form__button-submit {
    background: #82756b;
    color: #fff;
}

.form__button-back {
    background-color: #fff;
    color: #8c7a6a;
    text-decoration: underline;
}
