.contact-form {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    color: var(--main_color);
}

.contact-form__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.confirm-table {
    border: 1px solid var(--sub_color_white);
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding-left: 30px;
    width: 30%;
    border-bottom: 1px solid var(--sub_color_white);
    background-color: #baa899;
    color: var(--sub_color_white);
    text-align: left;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid var(--sub_color_white);
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}

.confirm-table__textarea {
    text-align: left;
    line-height: 1.5;
    margin: 0;
    white-space: normal;
    padding: 15px;
    border-bottom: 1px solid var(--sub_color_white);
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    appearance: none;
    color: var(--main_color);
}

.form__button {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.button-back {
    background-color: #fff;
    color: var(--sub_color_brown);
    text-decoration: underline;
}
