.contact-form {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    color: #8c7a6a;
}

.contact-form__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form__label--required {
    margin-left: 5px;
    color: #ff0000;
}

.form__group-content {
    width: 70%;
}

.form__input--texts {
    display: flex;
    gap: 20px;
}

.form__input--radio {
    display: flex;
    gap: 30px;
}

.form__input--select {
    position: relative;
    text-align: left;
    width: 50%;
}

.form__input--select::after {
    content: "▼";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #8c7a6a;
    font-size: 12px;
}

.form__input--select select {
    width: 100%;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    color: #8c7a6a;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 10px;
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    appearance: none;
    color: #8c7a6a;
}

input[type="radio"] {
    accent-color: #8c7a6a;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__input--radio {
    appearance: none;
}

.form__error {
    font-size: 14px;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #82756b;
    color: #fff;
    cursor: pointer;
}
