.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: flex-start;
}

.form__label--required {
    margin-left: 5px;
    color: #ff0000;
}

.form__group-content {
    width: 70%;
}

.form__input--texts {
    display: flex;
    gap: 20px;
}

.form__input--radio {
    display: flex;
    gap: 30px;
}

.form__input--select {
    position: relative;
    text-align: left;
    width: 50%;
}

.form__input--select::after {
    content: "▼";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main_color);
    font-size: 12px;
}

.form__input--select select {
    width: 100%;
    padding: 10px;
    background-color: var(--sub_color_white);
    border: 1px solid var(--sub_color_white);
    border-radius: 3px;
    color: var(--main_color);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 10px;
    width: 100%;
    background-color: var(--sub_color_white);
    border: 1px solid var(--sub_color_white);
    border-radius: 3px;
    appearance: none;
    color: var(--main_color);
}

input[type="radio"] {
    accent-color: var(--main_color);
}

.form__input--textarea textarea {
    height: 180px;
}

.form__input--radio {
    appearance: none;
}

.form-button {
    margin-top: 40px;
}
