html {
    background-color: #f1ece6;
}

.register-form {
    margin: 0 auto;
    padding: 50px 15px;
    max-width: 60%;
    background-color: #fff;
    border: 2px solid var(--main_color);
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    margin-bottom: 30px;
}

.form__group-title {
    color: var(--main_color);
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    width: 100%;
    background-color: var(--sub_color_white);
    border: 1px solid var(--sub_color_white);
    border-radius: 3px;
    appearance: none;
    color: var(--main_color);
}
