html {
    background-color: #f1ece6;
}

.register-form__title {
    text-align: center;
    color: var(--main_color);
    padding-top: 30px;
    font-size: 20px;
}

.register-form {
    margin: 40px auto;
    padding: 30px 15px;
    max-width: 40%;
    background-color: #fff;
    border: 2px solid var(--main_color);
}

.form {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.form__group {
    margin-bottom: 20px;
}

.form__group-title {
    color: var(--main_color);
    text-align: left;
}

.form__error {
    font-size: 14px;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    width: 100%;
    background-color: var(--sub_color_white);
    border: 1px solid var(--sub_color_white);
    border-radius: 3px;
    appearance: none;
    color: var(--main_color);
}
